{
  "plugins": [
    ["inline-import", { "extensions": [".css"] }],
    ["import", { "libraryName": "antd" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "transform-object-assign",
    "babel-plugin-espower"
  ],
  "presets": ["@babel/preset-env","@babel/preset-react", "next/babel"],
  "ignore": []
}
